@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "poppins";
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav {
  position: fixed;
  height: 8%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  padding: 0 2em;
  font-weight: bold;
}

li {
}

li > i {
  display: none; /* Sembunyikan tag <i> pada layar kecil */
}

nav > li > a > i {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

div {
  height: 100vh;
}

#hero {
}
#about {
  background-color: #d5fafc;
}
#project {
}
#contact {
  background-color: #18609a;
}
