@media (max-width: 1280px) {
  .text-hero {
    margin-bottom: 40pt;
    margin-right: 0;
  }

  .sosmed-wrapper {
    padding-top: 2rem;
  }

  .text-img-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 868px) {
  ul {
    gap: 3em;
  }

  .hero > section {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }

  .text-hero {
    margin-bottom: 40pt;
    margin-right: 0;
  }

  .text-img-wrapper {
    display: flex;
    flex-direction: column;
  }

  .img-wrapper {
    justify-content: center;
  }
}
