@media (max-width: 1550px) {
  .sosmed-wrapper {
    padding-top: 4rem;
  }

  .hero > section {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25rem;
  }

  .text-hero {
    margin-right: 8rem;
  }
}

@media (max-width: 1280px) {
  .text-hero {
    margin-bottom: 40pt;
    margin-right: 0;
  }

  .sosmed-wrapper {
    padding-top: 2rem;
  }

  .text-img-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hs-icon {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 868px) {
  ul {
    gap: 3em;
  }

  .hero > section {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }

  #about > section {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }

  .img-wrapper > img {
    width: 128px;
    height: 128px;
  }

  .text-hero {
    margin-bottom: 40pt;
    margin-right: 0;
  }

  .text-img-wrapper {
    display: flex;
    flex-direction: column;
  }

  .img-wrapper {
    justify-content: center;
  }
}
